

                <ul>
                    {{#each stuff}}
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus-sign">
                            </span>
                        </a>
                        <p>{{item_type}}</p>
                        <p>{{item_name}}</p>
                        <a href="#">
                            <img class="comp-img" src={{item_img}}>
                        </a>
                        <p>{{item_price}}</p>

                        <a href="#">
                            <span class="glyphicon glyphicon-plus-sign">
                            </span>
                        </a></li> 
                        {{/each}}
                </ul>   

              
              

            
    
  

  </body>

</html>